body {
    font-size: 16px;
}

table {
    border: 3px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 30px;
    border-bottom: 2px solid lightgray;
}
