/* Базовые стили, изменять не нужно */
body {
  padding-top: 20px;
  padding-left: 20px;
}

.block {
  background-color: rgba(0, 255, 255, 0.2);
}

/* Стили блоков */
.block-1 {
  margin-top: 40px;
  width: 180px;
  height: 40px;
}

.block-2 {
  margin-top: 40px;
  margin-left: 100px;
  width: 180px;
  height: 100px;
  border: 10px solid white;
}
