body {
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 15px;

  font-size: 0;
  text-align: center;
  background-color: white;
}

.block {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-bottom: 1px;
  margin-right: 1px;

  background-color: black;
}

.block1 {
  background-color: #000000;
  background-image: url("../img/cat_poo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block2 {
  background-color: #f1c40f;
  background-image: url("../img/cat_poo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block3 {
  background-color: #e74c3c;
  background-image: url("../img/cat_hiss.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block4 {
  background-color: #3498db;
  background-image: url("../img/cat_walk.png");
  background-repeat: no-repeat;
  background-position: 231% 50%;
}

.block5 {
  background-color: #3498db;
  background-image: url("../img/cat_walk.png");
  background-repeat: no-repeat;
  background-position: -115.5% 50%;
}

.block6 {
  background-color: #27ae60;
  background-image: url("../img/cat_slippers.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block7 {
  background-color: #bdc3c7;
}

.block8 {
  background-color: #95a5a6;
  background-image: url("../img/cat_grumpy.png");
  background-repeat: no-repeat;
  background-position: 158% 50%;
}

.block9 {
  background-color: #bdc3c7;
  background-image: url("../img/cat_grumpy.png");
  background-repeat: no-repeat;
  background-position: -192.5% 50%;
}

/*
Используемые изображения:
cat_poo.png
cat_hiss.png
cat_walk.png
cat_slippers.png
cat_grumpy.png
*/
