body {
    width: 350px;
    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    width: 33%;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

}

th {
    padding: 10px;
    color: white;
    width: 33%;
    background-color: darkcyan;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

.tr {
    background-color: lightyellow;
}

.th {
    background-color: lightblue;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

